@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;

    max-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}
.container{
    padding-top: 250px;
}
.second-container{
    display: flex;
    background-color: white ;
    flex-direction: column;
    padding: 0px;
    height: 400px;
    align-items: center;
    width: 250px;
    margin-top: 0px;
    border-radius: 25px;
    justify-content: center;

}
p{
    font-size: 15px;
}
.big-text{
    font-weight: 700;
    text-align: center;

}
.small-text{
    font-weight: 400;
    text-align: center;
    flex-wrap: wrap;
    padding-left: 22px;
    padding-right: 22px;
}
.third-container{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
    border-radius: 5%;
}
